Repository hrnyc27-mississippi/project-greenfield, pull requests merged in 2020-02, with the labels that each got.

#11 Express initialization
  .babelrc
  .gitignore
  client/dist/index.html
  client/src/components/App.jsx
  client/src/index.jsx
  package-lock.json
  package.json
  server/index.js
  webpack.config.js
Labels: tech debt/refactoring

#15 Closes: #12, #4
  .babelrc
  .circleci/config.yml
  .eslintrc.js
  client/src/components/App.jsx
  client/src/components/WelcomeMessage.jsx
  client/src/index.jsx
  client/tests/test.js
  enzyme.config.js
  jest.config.js
  package-lock.json
  package.json
  webpack.config.js
Labels: tech debt/refactoring

#67 format date in answer tile
  client/src/components/QA/Alist.jsx
  client/src/components/QA/Answer.jsx
  client/src/components/QA/Date.jsx
  client/src/components/QA/Qlist.jsx
  client/src/components/QA/Question.jsx
  client/src/components/QA/QuestionsAnswers.jsx
Labels: Questions & Answers, implementation task

#93 helpful component
  client/src/components/QA/Answer.jsx
  client/src/components/QA/Helpful.jsx
  client/src/components/QA/Question.jsx
  client/src/components/QA/QuestionsAnswers.jsx
  client/src/components/QA/Report.jsx
  client/src/components/RatingsReviews/ReviewsList/ReviewTile/RatingHelpfulness.jsx
Labels: Questions & Answers, implementation task

#95 conditional render answers
  client/src/components/QA/Question.jsx
  client/src/components/QA/QuestionsAnswers.jsx
  client/src/components/QA/SearchQuestions.jsx
Labels: Questions & Answers, implementation task

#110 Report
  client/src/components/QA/Alist.jsx
  client/src/components/QA/Answer.jsx
  client/src/components/QA/Date.jsx
  client/src/components/QA/Helpful.jsx
  client/src/components/QA/Qlist.jsx
  client/src/components/QA/Question.jsx
  client/src/components/QA/QuestionsAnswers.jsx
  client/src/components/QA/Report.jsx
  client/src/components/QA/dateFormatter.jsx
Labels: Questions & Answers

#122 Report
  client/src/components/QA/Alist.jsx
  client/src/components/QA/Answers/Alist.jsx
  client/src/components/QA/Answers/Answer.jsx
  client/src/components/QA/Answers/AnswerPhotos.jsx
  client/src/components/QA/Name.jsx
  client/src/components/QA/Question.jsx
Labels: Questions & Answers, tech debt/refactoring

#128 Question modal
  client/dist/index.html
  client/src/components/QA/Answers/AnswerPhotos.jsx
  client/src/components/QA/Answers/PhotoModal.jsx
  client/src/components/QA/Qlist.jsx
  package-lock.json
  package.json
Labels: implementation task

#129 Question modal
  client/src/components/QA/Answers/Alist.jsx
  client/src/components/QA/Answers/PhotoModal.jsx
  client/src/components/QA/Qlist.jsx
  client/src/components/QA/Question.jsx
  package-lock.json
  webpack.config.js
Labels: Integration, Questions & Answers

#136 Question modal
  client/src/components/QA/Answers/PhotoModal.jsx
  client/src/components/QA/Qform.jsx
  client/src/components/QA/Qlist.jsx
  client/src/components/QA/QuestionsAnswers.jsx
  client/src/components/QA/SearchQuestions.jsx
Labels: Questions & Answers, implementation task

#150 Click tracking
  client/dist/qa.css
  client/src/components/QA/Answers/Aform.jsx
  client/src/components/QA/Answers/Alist.jsx
  client/src/components/QA/Answers/Answer.jsx
  client/src/components/QA/Answers/AnswerPhotos.jsx
  client/src/components/QA/Name.jsx
  client/src/components/QA/Qform.jsx
  client/src/components/QA/Qlist.jsx
  client/src/components/QA/Question.jsx
  client/src/components/QA/QuestionsAnswers.jsx
  client/src/components/QA/Report.jsx
  client/src/components/QA/SearchQuestions.jsx
  client/src/index.jsx
Labels: implementation task
